<div class="body-container">
    <mat-toolbar>
        <button mat-button class="menu-button" style="border: none; position: relative; top: 3px; margin-left: 35px"
            ><mat-icon>menu</mat-icon></button
        >
        <h1 style="color: #6c757d">Vehicles</h1>
    </mat-toolbar>

    <div class="row">
        <div class="col-md-4">
            <div class="row" style="margin-top: 10px">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="search" />
                </div>
            </div>
            <div class="row" style="margin-top: 20px">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <span class="light-theme-text bold-text">LEVELS</span>
                    <ul>
                        <div *ngFor="let floor of levels">
                            <li class="light-theme-text" (click)="this.onSelectLevel(floor)">Level {{ floor }}</li>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <span class="light-theme-text bold-text">TYPE</span>
                    <ul>
                        <li class="light-theme-text" (click)="this.onSelectType(0)">Car</li>
                        <li class="light-theme-text" (click)="this.onSelectType(1)">Motorbike</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-secondary" (click)="this.removeFilter()">Clear Filter</button>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="top: -18px; position: relative">
            <div class="paging-lables">
                <label class="page-index">{{ pageIndex + 1 }}</label>
                <label class="page-size">{{ itemsOnPage }}</label>
                <label class="page-slash">/</label>
                <label class="page-item-count">{{ itemCount }}</label>
                <label class="page-label">VEHICLES</label>
            </div>
            <mat-paginator (page)="onPageChange($event)" [length]="itemCount" [pageSize]="pageSize" hidePageSize="true">
            </mat-paginator>
            <div *ngFor="let post of vehiclesCopy | filter: searchText">
                <div class="vehicle-card">
                    <div class="vehicle">
                        <div class="vehicle-id">{{ post.id }}</div>
                        <div class="vehicle-type">{{ getEnumText(post.type) }}</div>
                        <div class="vehicle-floor">Level {{ post.floor }}</div>
                        <div class="vehicle-slot"> Slot: {{ post.slot }}</div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #noResults>
            <p>No results found for "{{ searchText }}".</p>
        </ng-template>
    </div>
</div>
